.container{
    margin: auto;
    text-align: center;
    width: 80%;
}
body {
  background-color: #393e46;
  font-family: "Indie Flower", cursive;
  text-align: center;
}
h2 {
  color: cadetblue;
  margin: 20px 0px;
  font-size: 4em;
 font-weight: bolder;
 font-family: 'Lobster', cursive;
}
footer {
  color: azure;
  font-size: 2em;
}
.dice{
    color: cadetblue;
    font-size: 2em;
    font-family: "Indie Flower", cursive;
    display: inline-block;
    margin: 01rem 05rem;

}